* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ultra', serif;
  letter-spacing: 5px;
  color: rgb(230 184 92);
  font-size: 3vh;
}

body {
  height: 100vh;
}

body {
  background: linear-gradient(-45deg, #ff00b7, #234394, #4a1241);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
  background-position: 0% 50%;
  }

  50% {
  background-position: 100% 50%;
  }

  100% {
  background-position: 0% 50%;
  }
}

header, footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  text-shadow: 1px 1px #750b0b;
}

h1 {
  font-size: 6vh;
  color: rgb(230 184 92);
  text-shadow: 2.7px 3px rgb(99 46 17);
}

p {
  margin: 0px 20px;
}

footer {
  display: flex;
  justify-content: center;
}

button {
  font-size: 2em;
  padding: 1vh 10vh;
  text-transform: uppercase;
  border: 7px solid rgb(99 46 17);
  cursor: pointer;
  color: #e6b85c;
  margin: 3vh;
  border-radius: 50px;
  font-size: 40px;
  background: linear-gradient(-45deg, #547016, #d2018f, #b36258);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

button:hover {
  background-color: rgb(131,203,227, 0.8);
  border: 10px solid rgb(81,83,83, 0.8);
  box-shadow: 0px 0px 15px 15px rgba(145, 174, 203, 0.6);
  color: rgb(234, 164, 194);
  text-shadow: 5px 5px rgba(230, 225, 65, 0.2);
}

.title-screen {
  background-image: url(assets/Pictures/homescreen\ ernesto.gif);
  background-size: 100%;
  height: 82vh;
  width: 82vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 90px;
  align-items: center;
  flex-direction: column;
  border: 7px solid rgb(99 46 17);
  border-radius: 50px;
}

.info {
  visibility: hidden;
}

.info {
  background-color: #ecd2a2f2;
  margin: 60px;
  color: #632e11;
  height: 100vh;
  width: 70vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 7px solid rgb(99 46 17);
  font-size: 2.6vh;
}

button:hover + .info {
  visibility: visible;
}

.grid-wrapper {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background-image: url(assets/Pictures/nobk.png);
  background-color: rgba(78, 145, 184, 0.77);
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 82vh;
  width: 82vh;
  position: absolute;
  z-index: -2;
  border-radius: 50px;
  box-shadow: 1px 2px 3px rgba(99, 117, 189, 0.393);
}

.grid div {
  width: 9%;
  height: 9%;
  margin: 0px;
  padding: 0px;
}

.shortObstacle {
  background-image: url(assets/Pictures/short_obstacle.gif);
  background-size: 100%;
}

.shortFloat::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(assets/Pictures/short_safe.gif);
  background-size: 100%;
  z-index: -1;
}

.shortFloat {
  position: relative;
}

.longObstacle {
  background-image: url(assets/Pictures/obstacle\ 2.gif);
  background-size: 100%;
}

.longFloat::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(assets/Pictures/long_safe.gif);
  background-size: 100%;
  z-index: -1;
}

.longFloat {
  position: relative;
}

.octopus {
  background-image: url(assets/Pictures/ernesto.GIF);
  background-size: 100%;
}

.time-bar {
  height: 40px;
  width: 30%;
  background-color: #3f79bfb5;
  border-radius: 10px;
}

.time-remaining {
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #547016, #d2018f, #b36258);
  animation: gradient 25s ease infinite;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  transition: width .5s, border-radius 0.2s ease 0.2s;
}

