* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;}

body {
  height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

h1 {
  font-size: 40px;
  text-shadow: 2px 2px ;
  color: #e3e3e3;
  text-shadow: 5px 5px black;
}

button {
  font-size: 30px;
  padding: 30px 100px;
  text-transform: uppercase;
  border: 10px solid #322f2f;
  cursor: pointer;
  background-color: #83cbe3;
  color: #e3e3e3;
  text-shadow: 5px 5px rgb(103,103,103, 0.7)
  ;
}

button:hover {
  background-color: rgb(131,203,227, 0.8);
  border: 10px solid rgb(81,83,83, 0.8);
  box-shadow: 0px 0px 15px 15px rgba(145, 174, 203, 0.6);
  color: rgb(230, 225, 65);
  text-shadow: 5px 5px rgba(230, 225, 65, 0.2);
}

.title-screen-wrapper {
  display: none;
}

.title-screen {
  background-color: #5c94ab;
  height: 800px;
  width: 800px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px -7px 5px rgb(153,158,158, 0.6);
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  position: absolute;
  z-index: -1;
}

.grid div {
  width: 9%;
  height: 9%;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}

.octopus {
  background-image: url(assets/ernestov1.GIF);
  background-size: 100%;
}

.shortCar {
  background-color: red;
  background-size: 100%;
}

.longCar {
  background-color: olivedrab;
  background-size: 100%;
}